nav {
  position: sticky;
  top: 0;
  z-index: 1;
}
.navbar-container {
  background-color: #000;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo a {
    width: auto;
    text-decoration: none;
    white-space: nowrap;
    color: #fff;
}
.menu-icon {
  color: #fff;
  font-size: 2em;
  cursor: pointer;
  display: block;
}
.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
  flex-direction: column;
  width: 100%;
  position: absolute;
  top: 50px;
  left: 0;
  background-color: #000;
}
.nav-links a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  color: #fff;
  border-radius: 4px;
}
.nav-links li {
  margin: 0;
  text-align: center;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
.menu:checked ~ .nav-links {
  display: flex;
}
.menu {
  display: none;
}
#encabezado {
  background-image: url("../imgs/img-main.jpeg");
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
}

.cardVenta {
border: solid black 1px;
}

.venta-img {
width: 360px;
}

.venta-cuerpo {
padding: 10px;
}

.venta-ubicacion,
.venta-habitaciones,
.venta-costo {
display: flex;
align-items: center;
padding: 10px;
}

.baño {
  padding-left: 10px ;
}

.venta-ubicacion i,
.venta-habitaciones i,
.venta-costo i {
margin-right: 5px;
}

.venta-ubicacion p,
.venta-habitaciones p,
.venta-costo p {
margin: 0;
}

.cardAlquiler {
border: solid black 1px;
}

.alquiler-img {
width: 360px;
}

.alquiler-cuerpo {
padding: 10px;
}

.alquiler-ubicacion,
.alquiler-habitaciones,
.alquiler-costo {
display: flex;
align-items: center;
padding: 10px;
}

.alquiler-ubicacion i,
.alquiler-habitaciones i,
.alquiler-costo i {
margin-right: 5px;
}

.alquiler-ubicacion p,
.alquiler-habitaciones p,
.alquiler-costo p {
margin: 0;
}

.boton {
  padding: 50px;
}

@media (min-width: 1200px){
    .navbar-container {
      margin-top: 20px;
      display: flex;
      flex-direction: row;
    }
    .nav-links {
      position:initial;
      display: flex;
      flex-direction: row;
      padding-left: 40px;
    }
    .menu-icon {
      display: none;
    }
    .ventas {
      display: grid;
      grid-template-columns: auto auto auto auto;
      gap: 25px;
    }
    .alquileres {
      display: grid;
      grid-template-columns: auto auto auto auto;
      gap: 25px;
    }
}